@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap");
#nav_container {
  width: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
}

#nav_container #navbar {
  border-radius: 10px;
  background-color: #E0E0E0;
  width: 500px;
  height: 50px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .1s;
  transition: .1s;
}

#nav_container #navbar svg {
  padding: 0 20px 0 20px;
  display: none;
}

#nav_container #navbar ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav_container #navbar ul li {
  position: relative;
  list-style-type: none;
}

#nav_container #navbar ul li a {
  text-transform: uppercase;
  position: relative;
  margin: 0 50px;
  text-decoration: none;
  color: #3d3d3d;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  -webkit-transition: .6s;
  transition: .6s;
}

#nav_container #navbar ul li a:hover {
  color: #F2922E;
}

#footer {
  background-color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 70px;
}

#footer p {
  font-family: "Archivo", sans-serif;
  color: #E0E0E0;
  font-size: 0.9em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #3d3d3d;
  min-width: 500px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#main {
  width: 100%;
  padding: 0 10% 0 10%;
  min-height: 864px;
}

#presentacion {
  width: 100%;
  min-height: 740px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#presentacion .presentacion {
  width: 80%;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#presentacion .presentacion h1 {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  color: #E0E0E0;
  font-size: 5em;
  line-height: 1;
  padding-bottom: 150px;
}

#banner_obras {
  width: 100%;
  min-height: 120px;
  background-color: #F2922E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 100px;
}

#banner_obras .obras_link {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner_obras .obras_link a {
  font-family: "Archivo Black", sans-serif;
  color: #3d3d3d;
  text-transform: uppercase;
  font-size: 3em;
  -webkit-transition: .6s;
  transition: .6s;
}

#banner_obras .obras_link a:hover {
  color: #E0E0E0;
}

#obras {
  width: 100%;
  padding: 0 10% 0 10%;
  min-height: 864px;
}

#obras .titulo {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#obras .titulo h1 {
  font-family: "Archivo Black", sans-serif;
  color: #E0E0E0;
  font-size: 3em;
  line-height: 1;
  text-decoration: underline;
}

#obras p {
  font-family: "Archivo", sans-serif;
  color: #E0E0E0;
  margin-bottom: 20px;
  padding-top: 10px;
}

#obras .selector_obras {
  height: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#obras .selector_obras .obra_1 {
  height: 500px;
  width: 49%;
  background-image: url(assets/img1.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: .3s;
  transition: .3s;
}

#obras .selector_obras .obra_1:hover {
  border-radius: 30px;
}

#obras .selector_obras .obra_1 .obra_1_link {
  height: 100px;
  background-color: #3d3d3d;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#obras .selector_obras .obra_1 .obra_1_link:hover {
  opacity: 1;
  background-color: #E0E0E0;
  border-radius: 0 0 30px 30px;
}

#obras .selector_obras .obra_1 .obra_1_link h1 {
  color: #F2922E;
  font-family: "Archivo Black", sans-serif;
  font-size: 3em;
  line-height: 1;
}

#obras .selector_obras .obra_1 .obra_1_link a {
  text-decoration: none;
}

#obras .selector_obras .obra_1 .obra_1_link a h2 {
  color: #F2922E;
  font-family: "Archivo", sans-serif;
  line-height: 1;
  -webkit-transition: .6s;
  transition: .6s;
}

#obras .selector_obras .obra_1 .obra_1_link a h2:hover {
  color: #3d3d3d;
}

#obras .selector_obras .obra_1 .obra_1_link h3 {
  color: #F2922E;
  font-family: "Archivo", sans-serif;
  line-height: 1;
}

#obras .selector_obras .obra_2 {
  border-radius: 10px;
  height: 500px;
  width: 49%;
  background-image: url(assets/img2.jpeg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#obras .selector_obras .obra_2:hover {
  border-radius: 30px;
}

#obras .selector_obras .obra_2 .obra_2_link {
  height: 100px;
  background-color: #3d3d3d;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#obras .selector_obras .obra_2 .obra_2_link:hover {
  opacity: 1;
  background-color: #E0E0E0;
  border-radius: 0 0 30px 30px;
}

#obras .selector_obras .obra_2 .obra_2_link h1 {
  color: #F2922E;
  font-family: "Archivo Black", sans-serif;
  font-size: 3em;
  line-height: 1;
}

#obras .selector_obras .obra_2 .obra_2_link a {
  text-decoration: none;
}

#obras .selector_obras .obra_2 .obra_2_link a h2 {
  color: #F2922E;
  font-family: "Archivo", sans-serif;
  line-height: 1;
  -webkit-transition: .6s;
  transition: .6s;
}

#obras .selector_obras .obra_2 .obra_2_link a h2:hover {
  color: #3d3d3d;
}

#obras .selector_obras .obra_2 .obra_2_link h3 {
  color: #F2922E;
  font-family: "Archivo", sans-serif;
  line-height: 1;
}

#sense {
  width: 100%;
  padding: 0 10% 0 10%;
  min-height: 864px;
}

#sense .titulo {
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#sense .titulo h1 {
  font-family: "Archivo Black", sans-serif;
  color: #E0E0E0;
  font-size: 3em;
  line-height: 1;
  text-decoration: underline;
}

#sense #slider_container {
  width: 100%;
  height: 300px;
  border: 2px solid white;
  margin-top: 10px;
}

#sense #panel_info {
  width: 100%;
  height: 120px;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sense #panel_info .panel_1 {
  height: 100%;
  width: 25%;
  background-color: #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Archivo", sans-serif;
  color: #3d3d3d;
  padding-left: 10px;
}

#sense #panel_info .panel_1 h1 {
  font-size: 2em;
}

#sense #panel_info .panel_2 {
  height: 100%;
  width: 25%;
  background-color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Archivo", sans-serif;
  color: #E0E0E0;
  padding-left: 10px;
}

#sense #panel_info .panel_2 h1 {
  font-size: 2em;
}

#sense #panel_info .panel_3 {
  height: 100%;
  width: 25%;
  background-color: #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Archivo", sans-serif;
  color: #3d3d3d;
  padding-left: 10px;
}

#sense #panel_info .panel_3 h1 {
  font-size: 2em;
}

#sense #panel_info .panel_4 {
  height: 100%;
  width: 25%;
  background-color: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Archivo", sans-serif;
  color: #E0E0E0;
  padding-left: 10px;
}

#sense #panel_info .panel_4 h1 {
  font-size: 2em;
}

#sense #info_obra {
  height: 200px;
  width: 100%;
}

#sense #info_obra .info_1 {
  width: 100%;
  padding: 10px;
}

#sense #info_obra .info_1 p {
  font-family: "Archivo", sans-serif;
  color: #E0E0E0;
  font-size: 1.2em;
}

#sense #info_obra .info_2 {
  width: 100%;
  padding: 10px;
}

#sense #info_obra .info_2 p {
  font-family: "Archivo", sans-serif;
  color: #E0E0E0;
  font-size: 1.2em;
}
/*# sourceMappingURL=style.css.map */