//VARIABLES
//COLORS
$color1: #3d3d3d;
$color2: #F2922E;
$color3: #E0E0E0;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
$font-1:'Archivo Black', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap');
$font-2: 'Archivo', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$font-3: 'Bebas Neue', cursive;

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700;800&family=Source+Code+Pro:wght@200&display=swap');
$font-4: 'Big Shoulders Text', cursive;

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
$font-5: 'Odibee Sans', cursive;

//GLOBAL
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color1;
    min-width: 500px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}

#main{
    width: 100%;
    padding: 0 10% 0 10%;
    min-height: 864px;
}

#presentacion{    
    width: 100%;    
    min-height: 740px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;    
    #logo_mobile {
        .logo_mobile {
            display: none;
        }    
    }
    
    .presentacion{
        width: 80%;        
        min-height: 550px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h1{
            font-family: $font-3;
            text-transform: uppercase;
            color: $color3;
            font-size: 5em;
            line-height: 1;
            padding-bottom: 150px;
            // letter-spacing: 0.1em;
        }
    }
}

#banner_obras{
    width: 100%;
    min-height: 120px;
    background-color: $color2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    .obras_link{        
        height: 100px;        
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            font-family: $font-3;
            color: $color1;
            text-transform: uppercase;
            font-size: 3em;
            transition: .6s;
            text-decoration: none;
            &:hover{
                color: $color3;
            }
        }
    }
}

@media screen and (max-width: 860px) {
    #presentacion{
        .presentacion{
            h1{
                font-size: 4em;
            }
        }
    }
}

@media screen and (max-width: 690px) {
    #main {
        height: 600px;
        padding: 0 5% 0 5%;
    }
    #presentacion{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        #logo_mobile {
            margin-top: 50px;
            width: 100%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            .logo_mobile {
                display: inline-block;
                width: 250px;
                z-index: 99;
            }
        }

        .presentacion{
            min-height: 300px;
            height: 300px;
            padding-top: 50px;
            width: 100%;
            h1 {
                font-size: 3em;
                text-align: center;
                padding-bottom: 0px;
            }
        }
    }

    #banner_obras{
        align-items: center;
        justify-content: center;
        padding: 0;
        .obras_link{
            a{                
                &:hover{
                }
            }
        }
    }
}