//VARIABLES
//COLORS
$color1: #3d3d3d;
$color2: #F2922E;
$color3: #E0E0E0;

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap');
$font-1: 'Archivo', sans-serif;

//STYLES

#nav_container{
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    #navbar{        
        border-radius: 10px;
        background-color: $color3;
        width: 500px;
        height: 50px;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;        
        transition: .1s;        
        svg{
            padding: 0 20px 0 20px;
            display: none;
        }
        ul{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                position: relative;
                list-style-type: none;
                a{
                    text-transform: uppercase;
                    position: relative;
                    margin: 0 50px;
                    text-decoration: none;
                    color: $color1;
                    font-family: $font-1;
                    font-weight: 700;
                    transition: .6s;
                    &:hover{
                        color: $color2;
                    }                    
                }
            }
        }
    }
}
