//VARIABLES
//COLORS
$color1: #3d3d3d;
$color2: #F2922E;
$color3: #E0E0E0;
$color4: black;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
$font-1:'Archivo Black', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap');
$font-2: 'Archivo', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300&display=swap');
$font-3: 'Work Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$font-4: 'Bebas Neue', cursive;
//STYLES

//GLOBAL

#obras{
    width: 100%;
    padding: 0 10% 0 10%;
    min-height: 864px;
    .white_space {
        width: 100%;
        height: 140px;
    }
    .titulo{
        height: 120px;
        display: flex;
        align-items: center;
        h1{
            font-family: $font-4;
            color: $color3;
            font-size: 4em;
            line-height: 1;
        }
    }
    .selector_obras{
        height: 500px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .obra_1{
            border-radius: 10px;
            height: 500px;
            width: 49%;
            background-image: url(assets/img1.jpeg);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            transition: .3s;
            &:hover{
                border-radius: 30px;
            }
            .obra_1_link{
                height: 100px;
                background-color: $color1;
                opacity: 0.8;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 10px;
                transition: 0.6s;
                &:hover{
                    opacity: 1;
                    background-color: $color3;
                    border-radius: 0 0 30px 30px;
                }
                h1{
                    color: $color2;
                    font-family: $font-4;
                    font-size: 3em;
                    line-height: 1;
                }
                a{
                    text-decoration: none;
                    h2{
                        color: $color2;
                        font-family: $font-4;
                        line-height: 1;
                        transition: .6s;
                        &:hover{
                            color: $color1;
                        }
                    }
                }
                h3{
                    color: $color2;
                    font-family: $font-4;
                    line-height: 1;                    
                }
            }
        }
        .obra_2{
            border-radius: 10px;
            height: 500px;
            width: 49%;
            background-image: url(assets/img2.jpeg);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            transition: 0.3s;
            &:hover{
                border-radius: 30px;
            }
            .obra_2_link{
                height: 100px;
                background-color: $color1;
                opacity: 0.8;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 10px;
                transition: 0.6s;
                &:hover{
                    opacity: 1;
                    background-color: $color3;
                    border-radius: 0 0 30px 30px;
                }
                h1{
                    color: $color2;
                    font-family: $font-4;
                    font-size: 3em;
                    line-height: 1;
                }
                a{                
                    text-decoration: none;
                    h2{
                        color: $color2;
                        font-family: $font-4;
                        line-height: 1;
                        transition: .6s;
                        &:hover{
                            color: $color1;
                        }
                    }
                }
                h3{
                    color: $color2;
                    font-family: $font-4;
                    line-height: 1;
                }
            }
        }
    }

    .obras_finalizadas {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .titulo_obras {            
            height: 120px;
            width: 100%;
            display: flex;
            align-items: center;
            h1 {
                text-transform: uppercase;
                color: $color3;
                font-family: $font-4;
                font-size: 4em;
                line-height: 1;
            }
        }
        .obras_destacadas_container {            
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 80%;
            .obras_destacadas {
                border-radius: 10px;                
                background-color: $color3;                
                padding: 20px;
                margin: 10px;
                width: 300px;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .obras_destacadas_titulo {
                    font-family: $font-4;
                    color: $color1;
                    font-size: 2.5em;
                    text-align: center;
                }
                .obras_destacadas_desc {
                    color: black;
                    font-size: .9em;                    
                    padding: 0;
                    margin: 0;
                    height: 60px;                    
                    display: flex;
                    align-items: center;
                    justify-content: center;                    
                }
                .obras_destacadas_datos {                    
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    .datos_ubi { 
                        font-family: $font-4;
                        color: $color1;
                        font-size: 1.4em;
                        letter-spacing: 1px;
                    }
                    .datos_comi {
                        font-family: $font-4;
                        color: $color1;
                        font-size: 1.4em;
                        letter-spacing: 1px;
                    }
                    .datos_sup {
                        font-family: $font-4;
                        color: $color1;
                        font-size: 1.4em;
                        letter-spacing: 1px;
                    }
                    .obras_destacadas_link {
                        font-family: $font-3;
                        color: $color1;                        
                    }
                }
            .obras_destacadas_link {
                color: $color1;                
                h1 {                    
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;                    
                    color: $color1;
                    font-family: $font-4;
                    font-size: 1.3em;
                    width: 100%;
                    box-shadow: 0px 0px 5px 1px rgba(47,45,45,0.42);
                }
            }
            }
        }
    }
}   

@media screen and (max-width: 1450px) {
    #obras{
        .titulo{
            h1{
            }
        }
        p{
        }
        .selector_obras{
            .obra_1{
                &:hover{
                }
                .obra_1_link{
                    &:hover{
                    }
                    h1{
                    }
                    a{                        
                        h2{                            
                            &:hover{
                            }
                        }
                    }
                    h3{
                    }
                }
            }
            .obra_2{
                &:hover{
                }
                .obra_2_link{
                    &:hover{
                    }
                    h1{
                    }
                    a{
                        h2{
                            &:hover{
                            }
                        }
                    }
                    h3{
                    }
                }
            }
        }
    
        .obras_finalizadas {
            .titulo_obras {
                h1 {
                }
            }
            .obras_destacadas_container {
                .obras_destacadas {
                    .obras_destacadas_titulo {
                    }
                    .obras_destacadas_desc {
                    }
                    .obras_destacadas_datos {
                        .datos_ubi {
                        }
                        .datos_comi {
                        }
                        .datos_sup {
                        }
                        .obras_destacadas_link {
                        }
                    }
                .obras_destacadas_link {
                    h1 {
                    }
                }
                }
            }
        }
    }  
}